/.vs/
.vscode/
bin/
obj/
wwwroot/

# compiled output
/ClientApp/tmp
/ClientApp/out-tsc

# dependencies
/ClientApp/node_modules

# e2e
/ClientApp/e2e/*.js
/ClientApp/e2e/*.map

# System Files
/ClientApp/.DS_Store
/ClientApp/Thumbs.db